<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Log in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button *ngIf="user == null" ion-button icon-left block clear (click)="signInWithFacebookP()">
    <ion-icon name="logo-facebook"></ion-icon>
    Sign in with Facebook
  </button>
  <button *ngIf="user == null" ion-button icon-left block clear (click)="signInWithGoogleP()">
    <ion-icon name="logo-google"></ion-icon>
    Sign in with Google
  </button>

  <p align="center" *ngIf="user != null">Welcome {{user.displayName}}
    <br>
    <span *ngIf="money"> Money: {{money}} </span>
  </p>
  <button *ngIf="user != null" ion-button icon-left block clear (click)="signOut()">
    Sign Out
  </button>
</ion-content>